// COLORS
$primary-color: #725cee;
$secondary-color: #5f5f5f;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: grey;

$dark-blue-text: #383997; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
